NET "address<15>" LOC = "P34" | IOSTANDARD = LVCMOS33;
NET "address<14>" LOC = "P33" | IOSTANDARD = LVCMOS33;
NET "address<13>" LOC = "P32" | IOSTANDARD = LVCMOS33;
NET "address<12>" LOC = "P31" | IOSTANDARD = LVCMOS33;
NET "address<11>" LOC = "P30" | IOSTANDARD = LVCMOS33;
NET "address<10>" LOC = "P29" | IOSTANDARD = LVCMOS33;
NET "address<9>" LOC = "P28" | IOSTANDARD = LVCMOS33;
NET "address<8>" LOC = "P27" | IOSTANDARD = LVCMOS33;
NET "address<7>" LOC = "P23" | IOSTANDARD = LVCMOS33;
NET "address<6>" LOC = "P22" | IOSTANDARD = LVCMOS33;
NET "address<5>" LOC = "P21" | IOSTANDARD = LVCMOS33;
NET "address<4>" LOC = "P20" | IOSTANDARD = LVCMOS33;
NET "address<3>" LOC = "P19" | IOSTANDARD = LVCMOS33;
NET "address<2>" LOC = "P16" | IOSTANDARD = LVCMOS33;
NET "address<1>" LOC = "P14" | IOSTANDARD = LVCMOS33;
NET "address<0>" LOC = "P13" | IOSTANDARD = LVCMOS33;

NET "ram_we_n" LOC = "P12" | IOSTANDARD = LVCMOS33;
NET "ram_cs_n" LOC = "P8" | IOSTANDARD = LVCMOS33;
NET "eeprom_oe_n" LOC = "P6" | IOSTANDARD = LVCMOS33;
NET "eeprom_cs_n" LOC = "P5" | IOSTANDARD = LVCMOS33;
NET "via_ce_n" LOC = "P3" | IOSTANDARD = LVCMOS33;
NET "acia_ce_n" LOC = "P2" | IOSTANDARD = LVCMOS33;

NET "reset_n" LOC = "P18" | IOSTANDARD = LVCMOS33;
NET "clock" LOC = "P1" | IOSTANDARD = LVCMOS33 | BUFG = CLK;