// Configuration for XC2C32A and XC2C64A.
NET "ADDR<15>" LOC = "P21" | IOSTANDARD = LVCMOS33;
NET "ADDR<14>" LOC = "P20" | IOSTANDARD = LVCMOS33;
NET "ADDR<13>" LOC = "P19" | IOSTANDARD = LVCMOS33;

NET "RESET_N" LOC = "P12" | IOSTANDARD = LVCMOS33;

NET "EEPROM_CE_N" LOC = "P23" | IOSTANDARD = LVCMOS33;
NET "RAM_CE_N" LOC = "P27" | IOSTANDARD = LVCMOS33;
NET "VIA_CE_N" LOC = "P28" | IOSTANDARD = LVCMOS33;
NET "ACIA_CE_N" LOC = "P29" | IOSTANDARD = LVCMOS33;